  <div class="headbook">
    <% @blogs.each do |blog| %>
      <article class="blog">
        <p>タイトル:<%= blog.title %></p>
        <p><%= blog.content %></p>
        <%= image_tag(blog.image.url) %>
        <p><%= blog.user.name %></p>
        <br>
        <%= link_to '詳細', blog %>
        <%= link_to '編集', edit_blog_path(blog) %>
        <%= link_to '削除', blog, method: :delete, data: { confirm: '本当に削除していいですか' } %>
      </article>
    <% end %>
  </div>
