<p id="notice"><%= notice %></p>
  <div class="headbook">
    <% @blogs.each do |blog| %>
      <article class="blog">
        <p>タイトル:<%= blog.title %></p>
        <p><%= blog.content %></p>
        <%= image_tag(blog.image.url) %>
        <br>
        <%= link_to 'Show', blog %>
        <%= link_to 'Edit', edit_blog_path(blog) %>
        <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
      </article>
    <% end %>
  </div>


<footer>
  <div class="footer">
  <%= link_to 'New Blog', new_blog_path %>
  </div>
</footer>
